<div class="welcome-msg" ng-if="entries.length == 0">Please enter your first record.</div>
<table id="address-book-table" ng-if="entries.length > 0">
    <tr id="header">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Country</th>
        <th>No</th>
        <th>Options</th>
    </tr>
    <tr ng-repeat="entry in entries">
        <td>{{ entry.firstName }}</td>
        <td>{{ entry.lastName }}</td>
        <td>{{ entry.email }}</td>
        <td>{{ entry.country }}</td>
        <td>{{ entry.id }}</td>
        <td>
            <a href ng-click="editEntry(entry.id, $index)">Edit</a> |
            <a href ng-click="deleteEntry(entry.id, $index)">Delete</a>
        </td>
    </tr>
</table>